{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Selecione a quantidade:</h3>
<div class="card">
    <div class="card-body">
        <form action="/user/loja/add" method="POST">
        <input type="hidden" name="id" value="{{produto._id}}">
            <label for="nome">Produto: {{produto.nome}}</label><br>
            <label for="quantidade">Quantidade: </label>
            <input type="text" id="nome" name="quantidade" placeholder="Quantidade do produto" class="form-control"
                value="1">
            <label for="nome">Preço da unidade: R$ {{produto.preco}}</label><br>    
            <button type="submit" class="btn btn-success mt-4">Adicionar produto</button>
        </form>
        <a href="/user/loja"><div class="btn btn-warning mt-2">Cancelar</div></a>
    </div>
</div>